<section>
    <div class="lg-12 ">
        <div class="row container-site">

            <div class="lg-4 leftsite">

                <div class="logo-toggle">
                    <div class="row">
                        <div class="logo-width">
                            <img src="../../assets/img/logo-vec.png" alt="" class="login-logo">
                            <div class="logo-text">Sunbiz Legal Doc.</div>
                        </div>

                        <div class="toggle-btn">
                            <app-toggle></app-toggle>
                        </div>

                    </div>
                </div>

                <div class="login-content">

                    <h1>Sign In</h1>
                    <h2> Login with your credentials to get started.</h2>


                    <div class="lg-11 login-form">
                        <div class="row">

                           
                            <div class="email-placeholder ">
                                <input type="text" class="form-control form-input input-full"
                                    placeholder="Email address">
                            </div>

                            <div class="pass-placeholder">
                                <input type="text" class="form-control form-input input-full" placeholder="Password">
                                <a href="">
                                    <div class="forget-pass">Forgot Password?</div>
                                </a>
                            </div>

                            <div class="btn-area">
                                <a class="login-btn">
                                    Sign In
                                    <i class="fa-solid fa-arrow-right ms-1"></i>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="login-link">
                        <p>Not registered?
                            <a href="">
                                <span class="redirect-link"> Create an Account</span>
                            </a>
                        </p>
                    </div>

                    <div class="footer">
                        <p>© 2024 Sunbiz Legal Doc. All rights reserved</p>
                    </div>

                </div>

            </div>

            <div class="lg-8">

                <div>
                    <img src="../../assets/img/register-img.png" alt="" class="login-img">

                    <div class="image-content">
                        <img src="../../assets/img/logo-vec.png" alt="" class="sun-image">
                        <div class="image-head">
                            Sunbiz Shield:
                        </div>
                        <div class="image-para">
                            Your one-stop solution for incorporating your business and staying compliant with Florida
                            state regulations. From forming your LLC or corporation to keeping your business in good
                            standing year-round, our experts handle it all.
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="footer-img-area">
            <img src="../../assets/img/auth-bottom.png" alt="" class="footer-img">
        </div>

    </div>
</section>