* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'bold';
    font-size: 2.6vw;
    color: var(--black);
}

h2 {
    font-family: 'bold';
    font-size: 1.6vw;
    color: var(--black);
    letter-spacing: -0.01vw;
}

h3 {
    font-family: 'bold';
    font-size: 1.33vw;
    color: var(--black);
    letter-spacing: -0.01vw;
    margin-top: 1.1vw;
}

p {
    font-size: 0.85vw;
    font-family: 'reg';
    padding-top: 0.55vw;
    padding-bottom: 0.5vw;
    margin-left: 0.8vw;
    margin-right: 0.5vw;
    letter-spacing: -0.01vw;
    color: var(--black);
    border-bottom: 1px dashed var(--yellow);
}

.container-site {
    padding-left: 3.7vw;
    padding-right: 3.7vw;
    padding-top: 1.3vw;
    padding-bottom: 2.8vw;
    background: var(--dashboard-bg);
}

.search-input::placeholder {
    background-image: url('../../assets/img/search-icon.png');
    background-size: 1.15vw;
    background-position: 0.6vw center;
    background-repeat: no-repeat;
    padding-left: 2.3vw;
}

.search-input {
    font-family: 'reg';
    padding-top: 0.9vw;
    padding-bottom: 0.9vw;
    width: 98%;
    margin-left: 3%;
    font-size: 0.85vw;
    border-radius: 4px;
    background-color: var(--search-input);
    border: 0;
    color: var(--search-input-color);
}

.form-box{
    margin-top: 1.5vw;
    background-color: var(--nav);
    padding: 2.33vw 2.6vw 3.7vw 2.6vw;
    border-radius: 1vw;
    width: 63%;
}

.edit-btn{
    font-size: 0.75vw;
    font-family: "reg";
    color: var(--black);
    border: 1px solid var(--black);
    padding: 0.7vw 2.6vw;
    border-radius: 0.3vw;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.edit-btn:hover{
    color: var(--yellow);
    border: 1px solid var(--yellow);
}

.user-form{
    padding-bottom: 2vw;
    border-bottom: 1px solid var(--setting-form-border);
}

.upper-input{
    margin-top: 1.75vw;
    width: 32.3%;
    margin-bottom: 0.8vw;
}

.lower-input{
    width: 49.225%;
}

.cover-input{
    width: 100%;
    margin-bottom: 0.8vw;
}

.credit-input{
    width: 32.3%;
    margin-bottom: 0.8vw;
}

.credit-form{
    margin-top: 2.32vw;
}

.input-full{
    font-family: 'reg';
    font-size: 0.8vw;
    padding: 1.24vw 0.2vw 1.24vw;
    background-color: var(--input-color);
    color: rgba(113, 113, 113, 1);
    border-radius: 3px;
    border: 0;
    width: 100%;
}

.profile::placeholder{
    background-image: url('../../assets/img/user-icon.png');
    background-size: 1.15vw;
    background-position: 0.6vw center;
    background-repeat: no-repeat;
    padding-left: 2.3vw;
}

.email::placeholder{
    background-image: url('../../assets/img/email-icon.png');
    background-size: 1vw;
    background-position: 0.6vw center;
    background-repeat: no-repeat;
    padding-left: 2.3vw;
}

.password::placeholder{
    background-image: url('../../assets/img/pass-icon.png');
    background-size: 0.8vw 1.05vw;
    background-position: 0.85vw center;
    background-repeat: no-repeat;
    padding-left: 2.3vw;
}

.location::placeholder{
    background-image: url('../../assets/img/location.png');
    background-size: 0.8vw 0.95vw;
    background-position: 0.85vw center;
    background-repeat: no-repeat;
    padding-left: 2.3vw;
}

.credit-card::placeholder{
    background-image: url('../../assets/img/credit.png');
    background-size: 1vw 0.8vw;
    background-position: 0.85vw center;
    background-repeat: no-repeat;
    padding-left: 2.3vw;
}

.form-check{
    width: 51%;
    margin-top: 2vw;
}

.form-check-input{
    margin-left: 0.1vw;
    border-radius: 0;
    background-color: var(--input-color);
}

.checkbox-text{
    margin-left: 0.6vw;
    color: var(--black);
    font-family: 'reg';
    font-size: 1.05vw;
    margin-top: -0.2vw;
    line-height: 1.3vw;
}

.credit-btn{
    margin-top: 2.5vw;
}

.send-btn{
    padding: 1.4vw 2.7vw;
    font-size: 0.8vw;
    font-family: 'bold';
    color: var(--white);
    background-color: var(--yellow);
    box-shadow: 0px 8px 9px rgb(252 183 19 / 29%);
    cursor: pointer;
    border-radius: 0.3vw;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.send-btn:hover{
    background-color: transparent;
    color: var(--yellow);
    border: 1px solid var(--yellow);
    box-shadow: 0px 0px 0px;
   
}