<section>
    <div class="lg-12 ">
        <div class="row container-site">

            <div class="lg-4 leftsite">

                <div class="logo-toggle">
                    <div class="row">
                        <div class="logo-width">
                            <img src="../../assets/img/logo-vec.png" alt="" class="register-logo">
                            <div class="logo-text">Sunbiz Legal Doc.</div>
                        </div>

                        <div class="toggle-btn">
                            <app-toggle></app-toggle>
                        </div>

                    </div>
                </div>

                <div class="register-content">

                    <h1>Create an account</h1>
                    <h2>Enter your details to get started.</h2>


                    <div class="lg-11 register-form">
                        <div class="row">

                            <div class="lg-6 image-placeholder">
                                <input type="text" class="form-control form-input" placeholder="First name">
                            </div>

                            <div class="lg-6 image-placeholder">
                                <input type="text" class="form-control form-input" placeholder="Last name">
                            </div>

                            <div class="email-placeholder ">
                                <input type="text" class="form-control form-input input-full"
                                    placeholder="Email address">
                            </div>

                            <div class="pass-placeholder ">
                                <input type="text" class="form-control form-input input-full" placeholder="Password">
                            </div>

                            <div class="pass-placeholder ">
                                <input type="text" class="form-control form-input input-full"
                                    placeholder="Confirm password">
                            </div>

                            <div class="form-check">
                                <div class="row">
                                    <input type="checkbox" class="form-check-input checkbox-color" id="exampleCheck1">
                                    <h3 for="exampleCheck1">
                                        By sending “Create account”. I agree to the
                                        <a href=""><span class="check-text">Privacy Policy</span> </a>
                                        and <a href=""><span class="check-text">Terms of Use</span></a>.
                                    </h3>
                                </div>
                            </div>

                            <div class="btn-area">
                                <a class="register-btn">
                                    Create Account
                                    <i class="fa-solid fa-arrow-right ms-1"></i>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="login-link">
                        <p>Already have an account?
                            <a href="">
                                <span class="redirect-link">Log In</span>
                            </a>
                        </p>
                    </div>

                    <div class="footer">
                        <p>© 2024 Sunbiz Legal Doc. All rights reserved</p>
                    </div>

                </div>

            </div>

            <div class="lg-8">

                <div>
                    <img src="../../assets/img/register-img.png" alt="" class="register-img">

                    <div class="image-content">
                        <img src="../../assets/img/logo-vec.png" alt="" class="sun-image">
                        <div class="image-head">
                            Sunbiz Shield:
                        </div>
                        <div class="image-para">
                            Your one-stop solution for incorporating your business and staying compliant with Florida
                            state regulations. From forming your LLC or corporation to keeping your business in good
                            standing year-round, our experts handle it all.
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="footer-img-area">
            <img src="../../assets/img/auth-bottom.png" alt="" class="footer-img">
        </div>

    </div>
</section>